@CHARSET "UTF-8";

body {
	font-family: Calibri;
	font-size: 20px;
}

#cont1 {
	width: 200px;
	height: 30px;
	margin: 0 auto;
}

button {
	width: 48%;
}

#cont2 {
	width: 300px;
	margin: 0 auto;
}

table {
	width: 100%;
}

table, th, td {
	border: 1px solid black;
}

tr {
	height: 30px;
}

th {
	width: 50%;
}